/* style.css */

html, body {
  height: 100%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 300;
  color: gray;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
#info {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem;
  font-size: 1rem;
}
#info a {
  color: gray;
}
